<ion-content class="ion-padding">
  <ion-item color="dark">
    <ion-label>Tempo de descanso</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Toque aqui" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>

  <div class="container mt-3">
    <circle-progress
      (click)="startTime()"
      [percent]="percent"
      [maxPercent]="100"
      [radius]="radius"
      [showTitle]="false"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [outerStrokeColor]="'#00a4e0'"
      [showZeroOuterStroke]="false"
      [backgroundStroke]="'#00baff'"
      [backgroundStrokeWidth]="3"
      [outerStrokeGradient]="true"
      [outerStrokeGradientStopColor]="'#1ac1ff'"
      [showInnerStroke]="false"
    ></circle-progress>
  </div>
</ion-content>
